extends layout

block content
  h1= title
  p Welcome to #[em I-Ke-A], definitely not from Sweden.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p Each branch has the following categories counts:
    each branch in branches     
      a(href=branch.url) 
        h2 !{branch.name}
      ul        
        each item in branch.count
          li #[strong !{item.categoryName.toUpperCase()}:] !{item.numberInStock}
        
      
